.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron
.Rapp.history
.DS_Store
*-Ex.R
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
inst/doc
/doc/
/Meta/
